[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipykernel = "*"
rope = "*"
jupyter = "*"

[packages]
twint = {git = "https://github.com/twintproject/twint.git"}
environs = "*"
numpy = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
seaborn = "*"
gensim = "*"
nltk = "*"
pyjwt = "*"
flask = "*"
graphene = "*"
flask-graphql = "*"
sqlalchemy = "*"
nest-asyncio = "*"
psycopg2-binary = "*"
tqdm = "*"
py-ulid = "*"

[requires]
python_version = "3.8"
